.navbar{
    width: 100vw;
    top: 0;
    left: 0;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 16px;
    /* background-color: rgba(200, 216, 216, 0.314); */
    /* background-color: rgba(255, 255, 255, 0.782); */
    background-color: rgba(255, 255, 255, 0.098);
}
.logo p{
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.logo{
    display: flex;
    align-items: center;
    /* margin-left: 16px; */
    gap: 16px;
}
.logo img{
    width: 50px;
    height: 50px;
}
.metamask{
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 8px;
    border: 0;
    background: transparent;
    border: 1px solid  white;
    /* background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%); */
    color: white;
    font-weight: 600;

}
.metamask img{
    width: 20px;
    height: 20px;
}